* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 16;
    color:black;
    background-color: #eee;
    height: 100vh;
  }
  
  h1, h2, h3 {
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: navy;
    tex
  }
  
  p {
    margin: 10px;
    padding: 5px
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    color: black
  }
  section {
    border: 1px solid green;
    margin: 10px;
    bacground-color: #333;
    color: #fff;
  }
  
  aside {
    font-style: italic;
    letter-spacing = 1.2pt;
