
Large css
@media only screen and (min-width: 992px){
    [class*="col-"]{
        width: 50%;
    }
.top{
    text-align: center;
}
body{
    background-color: #blue;
    font-family: 'Dosis', sans-serif;
    margin: 1em;
    padding: 1em;
    margin: auto;
    max-width: 60%;
    padding: 2em;
    color: #86C232;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-style: double;
    border-radius: 1em;
    list-style: none;
    padding: 1em;
    font-size: 1.5em;
}
li{
    font-family: 'Dosis', sans-serif;
    list-style: none;
    color: blue;
}
li>a {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    border-radius: 2em;
    color:white;
}
ul{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 2em;
    border-style: inset;
    text-decoration: none;
    padding: .5em;
    font-family: 'Dosis', sans-serif;
    color: blue;


}
/* class selectors*/
.highlight{
    font-weight: bold;
}
/* id selectors */
a:hover{
    color: white;
}
a:active{
    color: blue;
}


footer{
    text-align: center;
    background-color: blue;
    color: white;
    grid-gap: .5em;
    min-width: 2em;
    border-style: solid;
    border-color:blue;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.motto{
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 2em;
}
.navigation {
    display: flex;
    padding: 1em;
    border: 1px solid;
    justify-content: space-between;
}

.navigation a{
    padding: 1em;
}
.active{
    background: radial-gradient blue, white);
    font-weight: 100;
}

.navigation li:first-child {
    display: none;
}
.navigation li {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;

}
}
