.responsive li{
    display: block;
}

Small.css

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 50%;
    }

    footer {
        text-align: center;
        background-color: #474b4f;
        color: #61892f;
        grid-gap: .5em;
        min-width: 2em;
        border-style: solid;
        border-color: black;
        border-radius: 1em;
        padding: 1em;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: end;
        justify-items: end;
        text-align: center;
        padding: 2em;
    }

    body {
        background-color: #222629;
        margin: auto;
        max-width: 60%;
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: end;
        justify-items: end;
        text-align: center;
        padding: 2em;
        color: #86c232;
    }

    ul {
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        background-color: #474b4f;
        border-radius: 2em;
        border-style: inset;
        text-decoration: none;
        padding: .5em;
        font-family: 'Dosis', sans-serif;
        color: #628e25;

    }

    .image {
        display: flex;
        justify-content: flex-end
    }

    li {
        font-family: 'Dosis', sans-serif;
        float: left;
        color: #86c232;
    }

    li>a {
        text-decoration: none;
        font-family: 'Dosis', sans-serif;
        border-radius: 2em;
        color: #86C232;
    }

    a:hover {
        color: #628e25;
    }

    a:active {
        background-color: #222629;
    }

    section {
        border-style: double;
        border-radius: .1em;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: .3em;

    }

    .motto {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
    .bodymain{
        color: #86C232;
    }

    .navigation {
        display: flex;
        color: #86C232;
        list-style: none;
        text-decoration: none;
    }
    .hidden{
        display: none;
    }

    nav ul {
        list-style-type: none;
        overflow: hidden;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }
    h1{
        text-align: center;
        color: #61892F;
    }

    .responsive li {
        display: block;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    #map {
        display: none;

    }

    #forecast {
        display: none;
    }
    #weathersummary {
        background-color: grey;
        max-width: 4em;
        padding: 2em;
        text-align: center;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .hero-text{
        display: flex;
        align-items: end;
        box-shadow: 5px 5px 30px;
        position: absolute;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: 3/4;
        font-size: .8em;
    }
}
