html {
    background-color: skyblue;

}

/*Style all Font icons*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50 px;
    text-align: center;
}

nav{text-decoration:none;

}
    /*Color for each brand*/

    /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
        max-width: 125px;
    }
    .fa-facebook>img{ max-width: 125px;}

    .fa-twitter {
        background: #55acee;
        color: white;
    }

    .fa-pinterest {
        background: #cb2027;
        color: white;
    }

    .title {
        text-align: center;
    }

    header,
    main,
    footer {
        max-width: 960px;
        margin: 0 auto;
    }