html {
    background-color: skyblue;

    title: {
        text-align>center;
    }

    body {
        background-color: #bbb;
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

    #header {
        background-color: #fff;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 125px;
        height: auto;
    }

    .headings {
        display: flex;
        flex-direction: column;
    }

    .heading h1 {
        font-size: 2rem;
        color: rgb(5, 5, 172);
        margin: 0;
    }

    .motto {
        font-style: italic;
        color: rgb(34, 139, 139);
        font-size: 1rem;
        letter-spacing: 1.5pt;
    }

    /*Style all Font icons*/

    .fa {
        padding: 12px 16px;
        font-size: 30px;
        width: 50 px;
        text-align: right;
    }

    .fa-twitter {
        padding: 12px;
        font-size: 30px;
        width: 50 px;
        text-align: right;
    }

    .fa-pinterest {
        padding: 20px;
        font-size: 30px;
        width: 50 px;
        text-align: right;
    }

    nav {
        text-decoration: none;

    }

    /*Color for each brand*/

    /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
        max-width: 100px;
    }

    footer>img {
        max-width: 125px;
    }

    .fa-twitter {
        background: #55acee;
        color: white;
        max-width: 100px;
    }


    .fa-pinterest {
        background: #cb2027;
        color: white;
        max-width: 100px;
    }




    header,
    main,
    footer {
        max-width: 960px;
        margin: 0 auto;
    }