    body {
        background-color: #bbb;
        padding: 0;
        margin: 0;
        font-size: 16px;
    font-family: Georgia, 'Times New Roman', serif sans-serif;
}

.main-nav{
    float:right;
    list-style:none;
    margin-top: 30px;
}

  .main-nav li {
        display: inline-block;
    }

    .main-nav li :hover {
        color: white;
        text-decoration: none;
        padding: 5px 20 px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

    header {
        background-color: #fff;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img {
        width: 125px;
        height: auto;
        text-align: left img src="images/templelogo.jpg";

    }



    .heading h1 {
        font-size: 20%;
        color: rgb(5, 5, 172);
        margin: 0;
    }

    .heading h2 {
        font-size: 20%;
        color: white;
        margin: 0;
    }


    .heading h3 {
        font-size: 20%;
        color: tomato;
        margin: 0;
    }

    .heading h4 {
        font-size: 20%;
        color: thistle;
        margin: 0;
    }

    .motto {
        font-style: italic;
        color: rgb(34, 139, 139);
        font-size: 1rem;
        letter-spacing: 1.5pt;
    }

    /*Style all Font icons*/

    .fa {
        padding: 12px 16px;
        font-size: 30px;
        max-width: 50 px;
        text-align: right;
    }

    .fa-twitter {
        padding: 12px;
        font-size: 30px;
        max-width: 50px;
        text-align: right;
    }

    .fa-pinterest {
        padding: 20px;
        font-size: 30px;
        max-width: 50px;
        text-align: right;
    }

    nav {
        text-decoration: none;

    }

    /*Color for each brand*/

    /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
        max-width: 100px;
    }

    footer>img {
        max-width: 125px;
    }

    .fa-twitter {
        background: #55acee;
        color: white;
        max-width: 100px;
    }


    .fa-pinterest {
        background: #cb2027;
        color: white;
        max-width: 100px;
    }


    footer {
        max-width: 260px;
        margin: 0 auto;
    }