/*Main Stuff we need for the page to work */

body{
    font-family: 'Dosis', sans-serif;
    color: purple;
    background-color: seashell;
    display: block;
}

li {
    margin: 0 auto;
    list-style: none;
    padding-left: .15em;
    padding-right: .15em;
}

.preston{
    background-color: white;
    margin-left: 5px;
}
.title{
    text-align: center;
}

nav{ 

    max-width: 80%;
    overflow: hidden;
    margin-left: 3em;
    list-style: none;
    background-color: green;
}

.navigation{
list-style: none;
text-align: center;


}
.navigation li:first-child{
display: block;

}

.navigation li{
display: none;

}
.responsive li {
display: block;

}

footer{
    bottom: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;

}
footer p {
    text-align: center;
}
iframe{
    display: none;
}

.heroimg{
    height: 15em;
    margin-left: 1.8em;
}
#weatherSummary{
    display: none;
    position: absolute;
    top: 30px;
    border: 3px solid black;
    padding: .5em;
    box-shadow: 0 0 30px;
    margin-left: 6em;
    font-size: 1.5em;

}

.hero{
    position: relative;
}

/*Forecast/Table*/

.paragraph{
    font-size: 1.4em;
    max-width: 80%;
    margin-left: 1.4em;
    margin-top: -4em;
}
.paragraph1{
    font-size: 2.4em;
    margin-left: .4em;
}
#event{
    font-size: 1.5em;
}

.table{
    visibility: hidden;
}
.forecastbegin{
    visibility: hidden;
}